h2 {
	display: inline;
	position: relative;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #cc1c3c;
	z-index: 1;
}

a::before {
	content: "";
	visibility: hidden;
	height: 3px;
	width: 64%;
	background-color: #cc1c3c;
	left: 3.8rem;
	bottom: 0;
	position: absolute;
	transform-origin: left;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transition: .5s ease-out;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-ms-transition: .5s ease-out;
	-o-transition: .5s ease-out;
}

a:hover::before {
	visibility: visible;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}
